/* html {
  background-image: url(./pokemon-wallpapers.jpg);
}

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

select {
  border-radius: 5px;
  outline: none;
} */









