

* {
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.PokemonImage {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color: rgba(75, 60, 60, 0.85);
  border-radius: 20% 20% 0 30%;
}

li {
  float: left;
  width: 33.33%;
  padding: 15px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

h1 {
  text-align: center;
}

.Input {
  text-align: center;
}

html {
  background-image: url(./pokemon-wallpapers.jpg);
}


